.myProjectsSection {
  background-image: linear-gradient(to bottom, #242933 7%, #e4e4e4 100%);
  width: 100%;
}

.projectWrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  h5 {
    width: 300px;
  }
  .projectImgWrapper {
    img {
      width: 300px;
      height: 210px;
      object-fit: cover;
      border-radius: 30px;
      cursor: pointer;
    }
    position: relative;
    filter: grayscale(70%);
    &:hover {
      transition: all ease-in-out 0.3s;
      filter: grayscale(0%);
    }

    .projectCardButtonWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      button {
        margin: 10px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .projectWrapper {
    grid-template-columns: auto;
  }
}