.mySkillsSection {
  background-image: linear-gradient(to bottom, #aaaaaa 7%, #242933 100%);
}
.skillsContainer {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;

  .skillCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    h4 {
      text-align: center;
      width: 80%;
      color: rgb(214, 214, 214);
    }
  }

  img {
    width: 80%;
    height: 150px;
    object-fit: contain;
    border-radius: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .skillsContainer {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 580px) {
  .skillsContainer {
    grid-template-columns: auto;
  }
}
